h1{
    width: 800px;
    height: 180px; 
    background-color: rgb(85, 85, 255);
    margin: 0px auto 0px auto ;
    text-align: center;
}
h2{
    width: 800*px;
    height: 180*px; 
    background-color: *blue;
    margin: 0px auto 0px auto ;
    text-align: center;
    
}

img{
    margin: 0px 0px 0px 339px ;
    
    
}
a {
    width: 180px;
    height: 129px; 
    background-color: rgb(215, 215, 242);
    margin: 0px 0px 0px -400px ;
    text-align: center;
}

time{
    width: 800px;
    height: 180px; 
    background-color: *blue;
    margin: 0px 0px 0px 580px ;
    text-align: center;
    
}
p{
    width: 300px;
    height: 180px; 
    background-color: *blue;
    margin: 0px 0px 0px 500px ;
    text-align: ;
    
}

.canada {
    margin: 50px 0px 50px 0px ;
}

/*************/
    /** #4 Tech Canada: Keep YouTube Yours ***********/
/*************/

.Twitter{
    background-color: rgba(89, 0, 255, 0.632);
        margin: 50px 0px 50px 0px ;
        height: 1000px;
}

.time3{
    
    margin: 0px 0px 0px 0px ;
}
.cnbc{
    width: 300px ;
    height:180px ;
    margin:0px 0px 0px 500px ;

}

iframe{
    margin: 0px 0px 0px 339px ;


}
/*************/
    /** #5 Tech Companies Unionizing Now For The First Time ***********/
/*************/

.site {
    background-image: url(../image/microsoft-moi.jpg);
    text-align: top center;
    color: rgb(254, 253, 253);
    margin-top: 50px;
    padding-top: 50px;
}
.p5 {
    background-color: rgba(53, 32, 32, 0.654);
    width: 683px;
    height: 600px;
    margin: -205px 0px 0px 339px ;
    text-align: center; 
    font-weight: 900;
    font-size: large;
    
}


